/*
  Coded By : Ahmed Safwat
*/
* {
  font-family: "Rubik", sans-serif;
}

body {
  background-color: #111111;
}

.col-xs-6 {
  width: 50%;
}

.main {
  height: 100%;
}
.main .container-fluid {
  padding-left: 0;
}
.main .container-fluid .flex {
  display: flex;
  justify-content: left;
  align-items: center;
}
.main .container-fluid .flex .content::before {
  background-color: #FDB300;
  clip-path: polygon(0 0, 39% 0, 67% 100%, 0% 100%);
  content: "";
  position: absolute;
  height: 100%;
  width: 80%;
}
.main .container-fluid .flex .content .pad {
  padding: 30px;
}
.main .container-fluid .flex .content .pad img {
  height: 94vh;
  width: 35vw;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  z-index: 2;
  position: relative;
  box-shadow: 1px 0px 11px 6px rgba(253, 253, 253, 0.49);
  border: 0;
}
.main .container-fluid .flex-left {
  display: flex;
  align-items: center;
  text-align: left;
  color: #fff;
  height: 100vh;
}
.main .container-fluid .flex-left .content-info .img {
  display: flex;
  justify-content: center;
}
.main .container-fluid .flex-left .content-info .img img {
  border-radius: 50%;
  width: 250px;
  height: 250px;
  margin-bottom: 17px;
  border: 3px solid #252525;
}
.main .container-fluid .flex-left .content-info .lead {
  font-size: 30px;
}
.main .container-fluid .flex-left .content-info h1 {
  font-size: 40px;
  font-weight: bold;
}
.main .container-fluid .flex-left .content-info h1 span {
  color: #FDB300;
}
.main .container-fluid .flex-left .content-info p {
  font-size: 20px;
  padding: 8px 25% 0 0;
}
.main .container-fluid .flex-left .content-info .btn {
  background: #FDB300;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 28px;
  margin-top: 15px;
}
.main .container-fluid .flex-left .content-info .btn .fa-user {
  opacity: 0;
}

@media (min-width: 768px), (max-width: 768px) {
  .flex-left {
    text-align: center !important;
  }
  .flex-left .content-info p {
    padding: 8px 50px 0 !important;
  }
  .flex-left .content-info p:not(.lead) {
    font-size: 15px !important;
  }
}
@media (min-width: 992px) {
  .flex-left {
    text-align: left !important;
  }
  .flex-left .content-info p {
    font-size: 20px !important;
    padding: 8px 25% 0 0 !important;
  }
}
aside {
  position: fixed;
  top: 30%;
  right: 25px;
}
aside .list_unlisted {
  list-style: none;
  color: #fff;
}
aside .list_unlisted li a i {
  color: #fff;
  font-size: 22px;
  text-align: center;
  background: #2b2a2a;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  line-height: 50px;
  margin-top: 12px;
}
aside .list_unlisted li a i:hover {
  background-color: #FDB300;
}
aside .list_unlisted li a .active {
  background-color: #FDB300;
}

.nav-btn {
  position: relative;
  z-index: 999999;
  cursor: pointer;
  background-color: #252525;
  position: fixed;
  top: 25px;
  right: 35px;
  padding: 10px;
  width: 55px;
  height: 50px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.nav-btn .line {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 6px 0;
}

.side {
  width: 100vw;
  height: 100vh;
  background-color: #111111;
  position: fixed;
  top: 0;
  left: -100vw;
  z-index: 999;
}
.side ul {
  padding-top: 80px;
  padding-right: 80px;
  list-style: none;
}
.side ul .active a {
  color: #FDB300;
}
.side ul li {
  padding: 15px;
  border-bottom: 1px solid;
}
.side ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
.side ul li a i {
  margin-right: 15px;
  font-size: 20px;
}

.preloader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  transform-origin: bottom;
  z-index: 111111;
}

.preloader .black_wall {
  height: 100%;
  background-color: #222;
  transform-origin: top;
  animation: preloader_slide 0.5s ease-in-out 0s 1 normal both;
}

.preloader .loader {
  width: 100%;
  height: 3px;
  position: absolute;
  border-radius: 2px;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  background-color: #FFC41F;
  transform-origin: left;
  animation: loader_running 3s ease-in-out 1s infinite normal both;
}

.preloader.off {
  animation: preloader_slide 0.5s ease-in-out 0s 1 reverse both;
}

@keyframes loader_running {
  0% {
    transform: scaleX(0);
    transform-origin: left;
  }
  49% {
    transform: scaleX(1);
    transform-origin: left;
  }
  50% {
    transform: scaleX(1);
    transform-origin: right;
  }
  100% {
    transform-origin: right;
    transform: scaleX(0);
  }
}
@keyframes preloader_slide {
  from {
    transform: scaleY(0);
  }
  to {
    transform: scaleY(1);
  }
}
.about {
  padding: 50px 0;
}
.about h1 {
  color: #fff;
  font-size: 100px;
  font-weight: bolder;
  opacity: 0.15;
}
.about .under {
  font-size: 55px;
  color: #fff;
  position: relative;
  top: -108px;
  font-weight: bolder;
}
.about .under span {
  color: #FDB300;
}
.about .lead {
  color: #fff;
  font-size: 30px;
}
.about .content ul li {
  color: #ae9f9f;
  font-size: 15px;
  margin: 12px 30px 12px 0;
}
.about .content ul li span {
  color: #fff;
}
.about .btn {
  background: #FDB300;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
  border-radius: 25px;
  padding: 10px 28px;
  margin-top: 15px;
  margin-bottom: 30px;
}
.about .btn .fa-download {
  opacity: 0;
}
.about .mar {
  padding: 0;
}
.about .contentNum {
  color: #fff;
  border: 1px solid #514949;
  border-radius: 10px;
  padding: 14px;
  margin-bottom: 25px;
  margin-right: 25px;
}
.about .contentNum .num {
  color: #FDB300;
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 0;
}
.about .contentNum .num sup {
  margin-left: 2px;
}
.about .contentNum span {
  font-size: 14px;
}
.about .contentNum span .hr {
  float: left;
  width: 25%;
  margin-right: 11px;
  BACKGROUND: #fff;
  opacity: 1;
  height: 1px;
  margin-top: 11px;
}
.about .hr1 {
  background: #fff;
  opacity: 0.5;
  width: 50%;
}
.about .skill h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin: 40px 0;
}
.about .skill .circle-chart__circle {
  animation: circle-chart-fill 2s reverse; /* 1 */
  transform: rotate(-90deg); /* 2, 3 */
  transform-origin: center; /* 4 */
}
.about .skill .circle-chart__circle--negative {
  transform: rotate(-90deg) scale(1, -1); /* 1, 2, 3 */
}
.about .skill .circle-chart__info {
  animation: circle-chart-appear 2s forwards;
  opacity: 0;
  transform: translateY(0.3em);
}
@keyframes circle-chart-fill {
  to {
    stroke-dasharray: 0 100;
  }
}
@keyframes circle-chart-appear {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.about .summery h2 {
  color: #fff;
  text-align: center;
  font-size: 30px;
  margin: 40px 0 50px;
}
.about .summery .content {
  padding: 0 0 0 40px;
  border-left: 1px solid rgba(221, 221, 221, 0.4);
  position: relative;
  margin-bottom: 25PX;
  margin-left: 20px;
}
.about .summery .content i {
  color: #fff;
  position: absolute;
  top: -3px;
  left: -19px;
  font-size: 20px;
  background: #FDB300;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.about .summery .content .time {
  color: #fff;
  color: #eee;
  opacity: 0.75;
  background: #333;
  padding: 4px 10px;
  border-radius: 12px;
  width: 108px;
  font-size: 12px;
}
.about .summery .content .title {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.about .summery .content .sum {
  font-size: 13px;
  color: #fff;
  font-weight: 100;
}

.Portfolio {
  padding: 50px 0;
}
.Portfolio h1 {
  color: #fff;
  font-size: 120px;
  font-weight: bolder;
  opacity: 0.15;
}
.Portfolio .under {
  font-size: 55px;
  color: #fff;
  position: relative;
  top: -120px;
  font-weight: bolder;
}
.Portfolio .under span {
  color: #FDB300;
}
.Portfolio .content {
  position: relative;
  border-radius: 11px;
  overflow: hidden;
  cursor: pointer;
  margin-bottom: 25px;
}
.Portfolio .content img {
  width: 100%;
  height: 300px;
}
.Portfolio .content .overlay {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #FDB300;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.Portfolio .content .overlay p {
  color: #fff;
  font-size: 27px;
}
.Portfolio .content .overlay p small {
  opacity: 0.5;
}

.contact {
  padding: 50px 0;
}
.contact h1 {
  color: #fff;
  font-size: 97px;
  font-weight: bolder;
  opacity: 0.15;
}
.contact .under {
  font-size: 55px;
  color: #fff;
  position: relative;
  top: -107px;
  font-weight: bolder;
}
.contact .under span {
  color: #FDB300;
}
.contact .lead {
  color: #fff;
  font-size: 22px;
}
.contact .dis {
  color: #fff;
  font-size: 13px;
}
.contact .ways .way {
  color: #fff;
}
.contact .ways .way i {
  font-size: 35px;
  margin-top: 15px;
  color: #FDB300;
  margin-right: 10px;
}
.contact .ways .way p {
  display: inline-block;
  font-size: 15px;
  POSITION: RELATIVE;
  top: 6px;
}
.contact .social a i {
  color: #fff;
  font-size: 24px;
  margin: 15px 20px 0 0;
  background-color: #2b2a2a;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}
.contact .social a i:hover {
  background-color: #FDB300;
}
.contact form {
  margin-top: 25px;
  color: #fff;
}
.contact form input, .contact form textarea {
  background-color: #2b2a2a;
  border: none;
  padding: 20px 10px;
  border-radius: 12px;
  color: #fff;
  font-size: 12px;
}
.contact form input:focus, .contact form textarea:focus {
  background-color: #2b2a2a;
  color: #fff;
}
.contact form input::-moz-placeholder, .contact form textarea::-moz-placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
}
.contact form input::placeholder, .contact form textarea::placeholder {
  color: #fff;
  opacity: 0.5;
  font-size: 12px;
}
.contact form textarea {
  width: 100%;
}
.contact form textarea:focus {
  outline: none;
}
.contact form .btn {
  font-size: 14px;
  padding: 10px 32px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  background-color: #FDB300;
  border: none;
}/*# sourceMappingURL=layout.css.map */